.repo-list {
    max-height: 90%;
    overflow-x: visible;
}

.accordian-details {
    background-image: url('images/Ticket.png') !important;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 20vh;
    text-indent: 0.5rem;
    margin: 1.5rem;
    opacity: 1;
    font-family: 'Inconsolata', monospace !important; 
    font-size: large;
    overflow-y: visible;
}

.accordian-details p {
    box-shadow: inset 0 0 0 0 rgba(232, 252, 120, .8);
    transition: color .9s ease-in-out, box-shadow .9s ease-in-out;
    width: fit-content;
    line-height: 1.7rem;
    margin: 0.3rem;
    margin-top: 0.7rem;
}

.accordian-details p:hover {
    box-shadow: inset 1000px 0 0 0 rgba(232, 252, 120, .8);
}


.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    font-family: 'Press Start 2P', cursive !important;
}

.accordian-summary {
    font-family: 'Press Start 2P', cursive !important;
}